<h2>オーダー一覧</h2>

<table class="table">
<tr>
  <th>購入日</th>
  <th>購入個数</th>
  <th>購入金額</th>
  <th>支払い方法</th>
</tr>

<% @orders.each do |order| %>
  <tr>
  <td><%= link_to order.created_at ,order_path(order.id) %></td>
  <td>
    <% sum = 0 %>
    <% order.order_details.each do |order_detail| %>
    <% sum += order_detail.quantity %>
    <% end %>
    <%= sum %>
  </td>
  <td><%= order.payment %></td>
  <td><%= order.payment_method_i18n %></td>
  <!--order_detail = OrderDetail.new-->

  <!--order_detail.order_id = order.id-->
  <!--order_detail.item_id = cart_item.item.id-->
  <!--order_detail.unit_price = cart_item.item.non_taxed_price-->
  <!--order_detail.quantity = cart_item.amount-->
  <!--order_detail.save-->

  </tr>
<% end %>
</table>